<launch>
  <arg name="model"           default="$(env TURTLEBOT3_MODEL)" 
       doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="initial_pose_x"  default="0.0" 
       doc="initial x position of the robot"/>
  <arg name="initial_pose_y"  default="0.0" 
       doc="initial y position of the robot"/>
  <arg name="initial_pose_a"  default="0.0" 
       doc="initial angle of the robot"/>
  <arg name="joint_noise_std" default="0.0" 
       doc="standard deviation of wheel noise per second"/>
  <arg name="sim_namespace"   default="ground_truth" 
       doc="namespace for `real` simulated robot" />
  <arg name="move_forward_only" default="false"/>
  
  <param name="tb3_model" value="$(arg model)"/>
  
  <include file="$(find turtlebot3_bringup)/launch/includes/description.launch.xml">
    <arg name="model" value="$(arg model)" />
  </include>

  <node pkg="wheel_odometry" type="wheel_odometry.py" name="wheel_odometry" output="screen">
    <param name="tb3_model" value="$(arg model)"/>
    <param name="wheel_radius" value="0.033"/>
    <param name="wheel_separation" value="0.160"/>
    <param name="joint_noise_std" value="0.0"/>
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node pkg="map_server" name="map" type="map_server" output="screen" 
        args="$(find mee4411_core)/maps/levine-4.yaml"/>

  <include file="$(find mee4411_core)/launch/laser_simulator.launch" ns="$(arg sim_namespace)">
    <arg name="sim_namespace"   value="$(arg sim_namespace)" />
    <arg name="initial_pose_x"  value="$(arg initial_pose_x)" />
    <arg name="initial_pose_y"  value="$(arg initial_pose_y)" />
    <arg name="initial_pose_a"  value="$(arg initial_pose_a)" />
    <arg name="joint_noise_std" value="$(arg joint_noise_std)" />
  </include>

  <include file="$(find turtlebot3_navigation)/launch/amcl.launch">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>
  
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mee4411_core)/rviz/mee4411.rviz"/>

</launch>